@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre');

.App {
  color: #15493C;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
} 

main {
  grid-area: main
}

footer {
  grid-area: footer;
}
