@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre');

.App {
  color: #15493C;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
} 

main {
  grid-area: main
}

footer {
  grid-area: footer;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Averia Serif Libre';
  text-align: center;
}

.headline {
  font-size: 35px;
}

.rules-container {
  padding-left: 16px;
  font-size: 20px;
}

.knock-button {
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(#106924, #15493C);
  height: 40px;
  width: 180px;
  color: white;
  font-size: 25px;
  font-family: 'Averia Serif Libre';
  transition: all .2s ease-in-out; 
}

.hover-states:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.card {
  height: 20rem;
  width: 15rem;
  font-size: 1.5rem;
}

.card-image {
  width: 15rem;
  box-shadow: 5px 3px 15px #15493C;
  border-radius: 8px;
  background: #15493C;
}

.card-image:hover {
  box-shadow: 5px 3px 15px #106924;
}

@media screen and (max-width: 850px) {
  .cards-container {
    flex-direction: column;
    row-gap: 1rem;
  }

  .card-image {
    display: none;
  }

  .card {
    height: 7rem;
    width: 90%;
    border: 8px solid #15493C;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}

