.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
}

.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.about * {
  margin: 0;
}

.dev-image {
  height: 200px;
}

.why {
  width: 500px;
}

ul {
  list-style-type: none;
  padding: 0;
}
